*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
    
}
html{
    scroll-behavior:smooth;
}

body{
    /* background: #081b29; */
    color: #ededed;
   
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    padding: 20px ;
    background: #081b29;
    display: flex;
    border-bottom: 2px solid black;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    /* margin-right: 575px; */
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}
.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active{
    color: #00abf0;
}
.navbar ul li{
    position: relative;
    float: left;
}
.navbar ul{
    list-style: none;
}
#menu-bar{
    display: none;
}
header label{
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    display: none;
}


.home{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background: url("./Biswa\ image1.png") no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    padding: 0 5%;
}
.home-content{
    max-width: 480px;
    margin-right: 350px;
    margin-top: 90px;
}
.home-content h1{
    position: relative;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
}
.home-content h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}
.home-content h3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content p{
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
}
.home-content p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}
.home-content .btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
   
}
.home-content .btn-box::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}

.btn-box a{
    position: relative;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.btn-box a:hover{
    color: #00abf0;
}
.btn-box a:nth-child(2){
    background: transparent;
    color: #00abf0;
}
.btn-box a:nth-child(2):hover{
    color: #081b29;
}

.btn-box a:nth-child(2)::before{
    background: #00abf0;
}

.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}
.btn-box a:hover:before{
    width: 100%;
}

.home-sci{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}
 .home-sci::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}
.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.home-sci a:hover{
    color: #081b29;
}
.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}
.home-sci a:hover:before{
    width: 100%;
}
/* .home-imghover{
    position: absolute;
    top: 0;
    right: 330px;
    width: 500px;
    height: 100%;
    background: transparent;
    border: 2px solid red;
    transition: 3s;
}
.home-imghover:hover{
    background: yellowgreen;
} */

/* KEYFRAMES ANIMATION*/

@keyframes showRight{
    100%{
        width: 0;
    }
}


/* ..............................................sec 2...................................................*/
#about{
    height: 100vh;
    width: 1377px;
    background: rgba(0, 0, 0, 0.979);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* mix-blend-mode: darken; */
    /* opacity: .9; */
}
.image{
    height: 100%;
    width: 700px;
    margin-right: 150px;
    /* background: yellowgreen; */
    background: url("./IMG_20240408_165256.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
.about-me{
    height: 70%;
    width: 500px;
    /* position: absolute;
    top: 125vh;
    left: 70vw; */
}
.about-me h1{
    font-size: 36px;
    font-weight: 700;
    margin-top: 50px;
    line-height: 1.2;
    color: yellowgreen;
}

/* .about-me h3{
    font-size: 28px;
    font-weight: 600;
    color: #00abf0;
} */
.about-me h4{
    font-size: 30px;
    font-weight: 650;
    margin-top: 40px;
    text-decoration: underline;
}
.about-me p{
    font-size: 20px;
    margin: 0;
    padding: 0;
}
.about-me .cv-btn{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    margin-top: 30px;
    padding-right: 240px;
}

.about-me .cv-btn::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /* background: #081b29; */
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}

.cv-btn a{
    position: relative;
    width: 150px;
    height: 100%;
    /* background: #00abf0; */
    border: 2px solid #00abf0;
    border-radius: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.cv-btn a:hover{
    color: #00abf0;
}

.cv-btn a:nth-child(1){
    background: transparent;
    color: #00abf0;
}
.cv-btn a:nth-child(1):hover{
    color: #081b29;
}

.cv-btn a:nth-child(1)::before{
    background: #00abf0;
}

.cv-btn a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}
.cv-btn a:hover:before{
    width: 100%;
}


/* ..............................................sec 3...................................................*/

#education{
    height: 100vh;
    width: 1377px;
    background: #081b29;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#education .card{
    height: 400px;
    width: 300px;
    background: #081b29;
    border-radius: 10px;
    /* border: 2px solid white; */
    filter: drop-shadow(5px 5px 5px rgb(248, 246, 246));
    /* display: flex;
    justify-content: center; */
    /* flex-direction: column; */
}
.card .img{
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.card .image1{
    height: 120px;
    width: 120px;
    background: url("./school.png") no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}
.card .image2{
    height: 120px;
    width: 120px;
    background: url("./college.png") no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}
.card .image3{
    height: 120px;
    width: 120px;
    background: url("./university.png") no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}
.card h1{
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
}
.card h3{
    margin-top: 10px;
    font-size: 25px;
    font-weight: 600;
    color: #00abf0;
    text-align: center;
}
.card #year{
    font-size: 20px;
    text-align: center;
}
.card #about{
    font-size: 20px;
    text-align: center;
}
.card .year{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}
.card .abc{
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
}
#education #heading{
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    position: absolute;
    top: 210vh;
    left: 500px;
}

/* ..............................................sec 4...................................................*/
#skills #main-heading{
    font-size: 36px;
    position: absolute;
    top: 315vh;
    left: 600px;
    color: #f3f7f9;
}

#skills #heading{
    font-size: 30px;
    position: absolute;
    top: 335vh;
    left: 860px;
    color: #00abf0;
}

.skill-main-box{
    height: 100vh;
    width: 1377px;
    background: #081b29;
    display: flex;
    justify-content: space-evenly;
    
    padding-top: 350px;
}

.skill__box1 .skill {
    width: 400px;
    margin: 5px;
    padding: 2px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.skill__box1 h1{
    font-size: 30px;
    position: absolute;
    top: 335vh;
    left: 260px;
    color: #00abf0;
}

.skill__box1 .skill p {
    font-size: 12pt;
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
}

.skill__box1 .skill span {
    color: aqua;
}

.skill__box1 .skill .progress__bar {
    width: 90%;
    height: 10px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.353);
    margin-bottom: 20px;
}

.skill__box1 .skill .progress__bar .progress1 {
    background-color: aqua;
    width: 70%;
    height: 10px;
    border-radius: 25px;
}
.skill__box1 .skill .progress__bar .progress2 {
    background-color: aqua;
    width: 65%;
    height: 10px;
    border-radius: 25px;
}
.skill__box1 .skill .progress__bar .progress3 {
    background-color: aqua;
    width: 80%;
    height: 10px;
    border-radius: 25px;
}
.skill-box2{
    height: 380px;
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: 2px solid yellowgreen; */
}

.skill-box2 .box {
    width: 200px;
    padding: 10px;
    border-radius: 15px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #313743; */
}

.skill-box2 .box .circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 10px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.skill-box2 .box p {
    color: white;
    margin-top: 15px;
}

.skill-box2 .skill__box {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
}

.skill-box2 .box .circle svg {
    position: absolute;
}

.skill-box2 .box .circle:nth-child(1) svg circle {
    fill: none;
    stroke: aqua;
    stroke-width: 10px;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    stroke-linecap: round;
}

.skill-box2 .box:nth-child(1) .circle svg circle{
    animation: anim1 1s linear forwards;
}

.skill-box2 .box:nth-child(2) .circle svg circle{
    animation: anim2 1s linear forwards;
}

.skill-box2 .box:nth-child(3) .circle svg circle{
    animation: anim3 1s linear forwards;
}

.skill-box2 .box:nth-child(4) .circle svg circle{
    animation: anim4 1s linear forwards;
}

@keyframes anim1 {
    100% {
        
        stroke-dashoffset: 230;
    }
}

@keyframes anim2 {
    100% {
        stroke-dashoffset: 190;
    }
}

@keyframes anim3 {
    100% {
        stroke-dashoffset: 175;
    }
}

@keyframes anim4 {
    100% {
        
        stroke-dashoffset: 190;
    }
}






/* ..............................................sec 5...................................................*/

#contact{
    height: 100vh;
    width: 1377px;
    background: #081b29;
}
#contact .container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container form{
    width: 670px;
    height: 400px;
    display: flex;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0,0,0,.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
}
.container form h1{
    color: #ffffff;
    font-weight: 500;
    margin-top: 20px;
    width: 500px;
    text-align: center;
}
.container form input{
    width: 290px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    background: none;
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
}
.container form input::placeholder{
    color: #ddd;

}
.container form #LastName,
.container form #mobile{
    margin-left: 20px;
}
.container form h4{
    color: #ffffff;
    font-weight: 300;
    width: 600px;
    margin-top: 20px;
}
.container form textarea{
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    outline: none;
    min-width: 600px;
    max-width: 600px;
    min-height: 80px;
    max-height: 80px;
}
textarea::-webkit-scrollbar{
    width: 1em;
}
textarea::-webkit-scrollbar-thumb{
    background-color: rgba(194,194,194,0.713);
}
.container form #button{
    border: none;
    background: #fff;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #333;
    width: 100px;
    padding: 0;
    /* margin-right: 500px; */
    margin-bottom: 30px;
    transition: 0.3s;
}
.container form #button:hover{
    opacity: 0.7;
}


/*...............................................Responsive..........................................*/



@media(max-width:991px){
    header{
        padding: 20px;
    }
    header label{
        display: initial;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #333;
        border-top: 1px solid rgba(0,0,0,.1);
        display: none;
    }

    header .navbar ul li{
        width: 100%;
    }
    #menu-bar:checked ~.navbar{
        display: initial;
    }
}